* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.container{
  scroll-snap-type: y mandatory;
}

.one {
  background: rgb(36, 164, 138)
}

.two {
  background: rgb(243, 129, 129)
}

.three {
  background: rgb(250, 211, 61)
}

.four {
  background: rgb(36, 164, 138)
}